body{
    background:rgb(60,63,60);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:700px;
}
#home{
    position:relative;
    height:450px;
    width:800px;
    background-image: url('cress.jpg');
    background-size: 100%;
    margin-top:-50px;
}
.word{
    position:absolute;
    top:20px;
    left:20px;
    background:rgba(200, 200, 200, 0.4);
    width:200px;
    text-align:center;
    font-family: Courier;
    height:20px;
    font-size:14px;
    line-height:20px;
}